.container {
    display: flex;
}

.nav-left {
  
    height: calc(100vh);
    background-color: #001529;
   
}

.main {
    flex: 1;
    height: calc(100vh);
    overflow: auto;
}


.content {
    position: relative;
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid grey;
  
}